<div id="fh5co-wrap">
  <header id="fh5co-header">
    <div class="container">
      <nav class="fh5co-main-nav">
        <ul>
          <li><a href="../index.html"><span>Início</span></a></li>
          <li><a href="../index.html#servicos"><span>Serviços</span></a></li>
          <li><a href="../index.html#sobrenos"><span>Sobre nós</span></a></li>
          <li><a href="../contact.html"><span>Contato</span></a></li>
          <li class="fh5co-active"><a href="contact.html"><span>Blog</span></a></li>
          <li><a href="../ac"><span>Acompanhe seu projeto</span></a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="fh5co-hero" style="background-image: url(/blog/assets/images/hero_1.jpg); background-size: cover;   /* Preserve aspet ratio */
min-width: 100%;
min-height: 100%;" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-0 col-xs-offset-0 text-center fh5co-table">
          <div class="fh5co-intro fh5co-table-cell">
          <h1 class="blog-title">Blog</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
