<!-- Jquery -->
<script src="/blog/assets/js/vendor/jquery-3.1.1.min.js"></script>

<!-- Main Js -->
<script src="/blog/assets/js/main.js"></script>

<!-- BEGIN: Benchmark Email Signup Form Code -->
<script type="text/javascript" id="lbscript1055298" src="https://www.benchmarkemail.com/br/code/lbformnew.js?mFcQnoBFKMR3vD%252FUeA%252FHNFgg49YEcrgG2hu4W17KWG8lONVQglmTlTciHg%252FVbFy1"></script><noscript>Please enable JavaScript <br /><div align="center" style="padding-top:5px;font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#999999;"><a href="//www.benchmarkemail.com/br" target="_new" style="text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#999999;">Serviços de Email Marketing</a> pela Benchmark</div></noscript>
<!-- END: Benchmark Email Signup Form Code -->

