<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}
    <meta name="description" content="Tudo sobre energia solar fotovoltaica em brasilia e no Brasil">
    <meta name="author" content="Caio Martins"> 
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  {% include header.html %}
  <div class="page-wrap">
    <main role="main">
      <div class="flex-grid">
        {% for post in site.posts %}
        <article class="main-articles">
           {% if post.img %}
              <a href="{{post.url | prepend: site.baseurl}}"><img class="post-image" src={{ "/assets/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}"></a>
           {% endif %}
            <div class="post-content">
              <div class="wrap-content">
                <header class="header-article">
                  <h2><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
                  <div class="byline"><span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{post.author}}</span></div>
                </header>
                <p>{{post.description}}</p>
              </div>
            </div>
        </article>
        {% endfor %}
      </div>
    </main>
  </div>
{% include footer.html %}
{% include javascripts.html %}
</body>
</html>
