<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog da Primaria- Tudo sobre energia solar</title>
  <meta name="description" content="Aqui no blog da Primaria Energia encontra tudo sobre energia solar fotovoltaica em Brasilia e no Brasil">
  <link rel="shortcut icon" href="/blog/assets/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="/blog/assets/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/blog/assets/css/main.css">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-88208769-2', 'auto');
  ga('send', 'pageview');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113322286-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-113322286-2');
</script>

    <meta name="author" content="Caio Martins"> 
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  {% include header.html %}
  <div class="page-wrap">
    <main role="main">
      <div class="flex-grid">
        {% for post in site.posts %}
        <article class="main-articles">
           {% if post.img %}
              <a href="{{post.url | prepend: site.baseurl}}"><img class="post-image" src={{ "/assets/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}"></a>
           {% endif %}
            <div class="post-content">
              <div class="wrap-content">
                <header class="header-article">
                  <h2><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
                  <div class="byline"><span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{post.author}}</span></div>
                </header>
                <p>{{post.description}}</p>
              </div>
            </div>
        </article>
        {% endfor %}
      </div>
    </main>
  </div>
{% include footer.html %}
{% include javascripts.html %}
  <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/d6a9a9f8-9be0-458b-95b8-0ff060a2c883-loader.js" ></script>

</body>
</html>
